# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
fotiloch_projektordner/img/dawn-landscape-mountains-nature.jpg
fotiloch_projektordner/img/unterseiten_img/berge1.jpg
fotiloch_projektordner/img/unterseiten_img/berge2.jpg
fotiloch_projektordner/img/unterseiten_img/berge3.jpeg
fotiloch_projektordner/img/unterseiten_img/herbst.jpeg
fotiloch_projektordner/img/unterseiten_img/huette1.jpeg
fotiloch_projektordner/img/unterseiten_img/kuh1.jpeg
fotiloch_projektordner/img/unterseiten_img/stadt1.jpeg
fotiloch_projektordner/img/unterseiten_img/strasse1.jpg
fotiloch_projektordner/img/unterseiten_img/wasserfall1.jpg
fotiloch_projektordner/img/unterseiten_img/wasserfall2.jpg
fotiloch_projektordner/img/unterseiten_img/wasserfall3.jpg
fotiloch_projektordner/img/unterseiten_img/wasserfall4.jpeg
fotiloch_projektordner/img/unterseiten_img/wasserfall5.jpg
fotiloch_projektordner/img/unterseiten_img/winter1.jpeg
fotiloch_projektordner/img/unterseiten_img/winter2.jpeg
